#root {
    position: relative;
}

video {
    /* position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

main {
    min-height: 90vh;
    max-height: 100vh;
    overflow: scroll;
}

#main-title {
    font-size: 90px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 44vh;
    text-align: center;
}

#header-container {
    position: sticky;
    top: 0;
    left: 0;
    height: 84px;
    z-index: 9;
}

#footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: burlywood;
    z-index: 9;
}